.body1 {
    color: red;
    background-color: yellow;
    border-radius: 2px;
    font-size: 25px;
}

.flyout {
    border: none;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 15px;
    height: 250px;
    width: 200px;
}