.body1 {
    color: rgb(255, 249, 249);
    background-color: rgb(92, 113, 206);
    border-radius: 50px;
    font-size: 25px;
}

.flyout {
    border: none;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 15px;
    height: 250px;
    width: 200px;
}

.*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;

}

.card {
    background-color: white;
    width: 220px;
    height: 400px;
    margin: 20px;
}